<h1><%= @article.title %></h1>
<p><%= @article.body %></p>

<div>
  <%= link_to "Back to all Articles", root_path %>
</div>

<div>
  <%= link_to "Edit this Article...", edit_article_path(@article) %>
</div>

<div>
  <%= link_to "Delete this Article...", article_path(@article),
    data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure?"
    } %>
</div>

<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment!</h2>
<%= form_with model:
  [ @article, @article.comments.build ] do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_field :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
